
/*---------------------------link section---------------------------*/
#nav_bar{
    overflow: hidden;
    background: black;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: top 0.5s ease-in-out;
    -webkit-transition: top 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out;
    -ms-transition: top 0.5s ease-in-out;
    -o-transition: top 0.5s ease-in-out;
}
ul.nav{
    text-decoration: none;
    color: white;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
li.nav{
    text-decoration: none;
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 15px 25px;
    background-color: #000000;
    display: inline-block;
}
a{
    text-decoration: none;
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
}

ul.nav:hover{
    text-decoration: none;
    color: white;
}
li.nav:hover{
    text-decoration: none;
    color: white;
    background-color: #0084f7;
}
a.nav:hover{
    text-decoration: none;
    color: white;
}

ul.nav:active{
    text-decoration: none;
    color: white;
}
li.nav:active{
    text-decoration: none;
    color: white;
    background-color: #0084f7;
}
a.nav:active{
    text-decoration: none;
    color: white;
}

ul.nav:visited{
    text-decoration: none;
    color: white;
}
li.nav:visited{
    text-decoration: none;
    color: white;
    background-color: #0084f7;
}
a.nav:visited{
    text-decoration: none;
    color: white;
}

ul.nav:focus{
    text-decoration: none;
    color: white;
}
li.nav:focus{
    text-decoration: none;
    color: white;
    background-color: #0084f7;
}
a.nav:focus{
    text-decoration: none;
    color: white;
}



/*---------------------------main section---------------------------*/



body{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#home{
    background-image: url("image/background_image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 15%;
    padding-bottom: 50%;
    text-align: center;
    font-size: 150% ;
}

div{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#intro_div{
    text-align: left;
}
footer{
    height: 100%;
    width: 100%;
    background-color: black;
}
h1.intro{
    text-align: left;
    padding-left: 10%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    margin-top: 0%;
}
h1{
    text-align: center;
    padding-bottom: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    margin-top: 0%;
}
h3.intro{
    text-align: left;
    padding-left: 10%;
}


/*---------------------------about section---------------------------*/



#about{
    width: 100%;
}
tr{
    height: 50%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
}
td{
    width: 50%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
img{
    width: 100%;
}
#section1{
    height: 50%;
    width: 100%;
    overflow: hidden;
}
#paragraph1{
    height: 50px;
    width: 50%;
    text-align: center;
    font-size: x-large;
}
#image1{
    height: 50px;
    width: 50%;
}

#section2{
    height: 50%;
    width: 100%;
    overflow: hidden;
}
#paragraph2{
    height: 50%;
    width: 50%;
    text-align: center;
    font-size: x-large;
}
#image2{
    height: 50%;
    width: 50%;
}

#section3{
    height: 50%;
    width: 100%;
    overflow: hidden;
}
#paragraph3{
    height: 50%;
    width: 50%;
    text-align: center;
    font-size: x-large;
}
#image3{
    height: 50%;
    width: 50%;
}

/*---------------------------skills section---------------------------*/
#skills{
    margin:auto;
    box-sizing:border-box;
    text-align: center;
    background-image: url("image/skills_background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
#skills_container{
    width: 50%;
    padding-left: 50%;
    background-color: transparent;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 100%;
}
.container {
  width: 50%;
  margin-left: 25%;
  background-color: #cccccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.skills {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
}

.java {width: 95%; background-color: #f8981d;border-radius: 5px;}
.html {width: 95%; background-color: #dd4b25;border-radius: 5px;}
.css {width: 75%; background-color: #264de4;border-radius: 5px;}
.js {width: 50%; background-color: #f44336;border-radius: 5px;}
.android {width: 75%; background-color: #3dd382;border-radius: 5px;}
.fewd {width: 50%; background-color: #00ffff;border-radius: 5px;}
.bewd {width: 75%; background-color: #108080;border-radius: 5px;}
.illustrator {width: 50%; background-color: #330000;border-radius: 5px;}

/*---------------------------projects section---------------------------*/
#projects{
    background-color: rgba(136, 154, 158, 0.2);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  display: inline-block;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.card_container {
  padding: 2px 16px;
}

ul.p{
    text-decoration: none;
    margin: 0px;
    padding: 1%;
}
li.pi{
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    padding: 0% 1.5% 0% 1.5%;
    width: 30%;
}
#more{
    padding: 5px 0 5px 0;
    background-color: gray;
    display: block;
    text-decoration: none;
    text-align: center;
}

/*---------------------------achievements section---------------------------*/
#achievements{
    color: black;
    height: auto;
    background-size: 100%;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-image: url("image/achievements_background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#achievements_sub_div{
    background-color: rgba(255, 255, 255, 0.75);
}
.a_table{
    margin: auto;
    width: 70%;
}
.a_tr{
    border-bottom: 1px solid black;
    width: 100%;
    height: 40%;
}
.a_td{
    width: 100%;
}

/*---------------------------interests section---------------------------*/
#interests{
    height: 100%;
    background-color: rgba(136, 154, 158, 0.2);
    background-image: url("image/interest_background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
#achievements_sub_div{
    background-color: rgba(255, 255, 255, 0.75);
}
div.interest_list_div_sum{
    padding: 10%;
}
div.interest_list{
    text-decoration: none;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
div.interest_list_li{
    margin: 1%;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    align-items: center;
    background: #fff;
    border: 1px solid #e7e9eb;
    color: #282a35;
    font-family: Source Sans Pro;
    font-style: italic;
    justify-content: center;
    line-height: 18px;
}
p.interest_list_li_p{
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
}

/*---------------------------faq section---------------------------*/

#faq{
    background-image: url("image/faq_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 100%;
    width: 100%;
}
#faq_sub_div{
    background-color: rgba(255, 255, 255, 0.6);
}
#faq_text{
    background-color: white;
}
form{
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 480px;
    width: 100%;
    padding: 5%;
    margin-top: 10%;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: 7%;
}
.textinput{
    width: 60%;
    background-color: transparent;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid black;
    margin: 0px 0px 10px;
    padding: 15px 10px;
}
input{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid black;
    margin: 0px 0px 10px;
    padding: 15px 10px;
}
#submit{
    width: 30%;
    margin: 0px 0px 0px 0px;
    padding: 12px 30px;
    text-align: right;
    color: white;
    background-color: #999999;
}

/*---------------------------footer section---------------------------*/

.footer_img{
    height: 70px;
    width: 70px;
    margin: auto;
    padding: auto;
    border-radius: 50%;
    border: 3px solid white;
}
#footer{
    padding: 0px;
    background-color: #000000;
    color: white;
    text-align: center;
}
p.copy{
    margin: 0px 0px;
}
h2{
    margin: 0px 0px;
}
.footer_ul{
    width: 100%;
    margin: 0px 0px;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
}
.footer_li{
    width: 33%;
    padding: auto;
    margin: auto;
    display: inline-block;
    text-decoration: none;
}

/*---------------------------other media type section---------------------------*/

/**/
.fadeinfrombottom{
	animation: fadeinfrombottomanimation ease-out 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.fadeinfromtop{
	animation: fadeinfromtopanimation ease-out 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.fadeinfromleft{
	animation: fadeinfromleftanimation ease-out 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.fadeinfromright{
	animation: fadeinfromrightanimation ease-out 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeinfrombottomanimation {
	0% {
		opacity: 0;
        transform: translateY(100%);
	}
    50% {
        opacity: .5;
    }
	100% {
		opacity: 1;
	}
}
@keyframes fadeinfromleftanimation {
	0% {
		opacity: 0;
        transform: translateX(-100%);
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeinfromrightanimation {
	0% {
		opacity: 0;
        transform: translateX(100%);
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeinfromtopanimation {
	0% {
		opacity: 0;
        transform: translateY(-100%);
	}
	100% {
		opacity: 1;
	}
}
/*---------------------------the end---------------------------*/
